body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #6c757d;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    margin-top: 20px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    background-color: #6c757d;
    color: white;
    text-align: center;
    padding: 10px;
}
a
{
    color: palegoldenrod;
}
a :active
{
    color: powderblue;
}
a :hover
{
    color: palevioletred;
}
a :visited
{
    color: peachpuff;
}
img
{
    width: 800px;
}